$vars: (
  "spacing": (
    "small": var(--mcsl-spacing-4xs),
    "medium": var(--mcsl-spacing-2xs),
    "large": var(--mcsl-spacing-xs),
  ),
  "border-radius": (
    "small": var(--mcsl-border-radius-xs),
    "medium": var(--mcsl-border-radius-sm),
    "large": var(--mcsl-border-radius-md),
  ),
  "height": (
    "small": 1.75rem,
    "medium": 2.25rem,
    "large": 2.75rem,
  ),
);
