@use "sass:map";
@use "Content";

$vars: map.merge(
  Content.$vars,
  (
    "font-size": (
      "small": var(--mcsl-font-size-xs),
      "middle": var(--mcsl-font-size-sm),
      "large": var(--mcsl-font-size-md),
    ),
  )
);
