$vars: (
  "box-shadow": (
    "small": var(--mcsl-box-shadow-light),
    "middle": var(--mcsl-box-shadow-base),
    "large": var(--mcsl-box-shadow-dark),
  ),
  "spacing": (
    "small": var(--mcsl-spacing-md),
    "middle": var(--mcsl-spacing-lg),
    "large": var(--mcsl-spacing-xl),
  ),
  "border-radius": (
    "small": var(--mcsl-border-radius-lg),
    "middle": var(--mcsl-border-radius-xl),
    "large": var(--mcsl-border-radius-2xl),
  ),
);
