@use "sass:map";
@use "../Content";

$vars: map.merge(
  Content.$vars,
  (
    "box-shadow": (
      "small": var(--mcsl-box-shadow-light),
      "medium": var(--mcsl-box-shadow-base),
      "large": var(--mcsl-box-shadow-dark),
    ),
    "border-radius": (
      "small": var(--mcsl-border-radius-sm),
      "medium": var(--mcsl-border-radius-md),
      "large": var(--mcsl-border-radius-lg),
    ),
    "spacing": (
      "small": var(--mcsl-spacing-sm),
      "medium": var(--mcsl-spacing-md),
      "large": var(--mcsl-spacing-lg),
    ),
  )
);
