@use "../utils";

$colors: (
  "rose": (
    50: #fef0f5,
    100: #fddbe6,
    200: #fcc4d7,
    300: #faa0be,
    400: #f76c9b,
    500: #f53877,
    600: #f3145e,
    700: #d80b4f,
    800: #ae0940,
    900: #940836,
    950: #6a0627,
  ),
  "pink": (
    50: #fef0f9,
    100: #fdd9f1,
    200: #fcc1e8,
    300: #fa9ada,
    400: #f764c6,
    500: #f42db2,
    600: #e90c9f,
    700: #c50a87,
    800: #9f086d,
    900: #88075d,
    950: #620543,
  ),
  "fuchsia": (
    50: #feeefe,
    100: #fdd5fd,
    200: #fcbdfc,
    300: #f995f9,
    400: #f65bf6,
    500: #f322f3,
    600: #d60bd6,
    700: #b409b4,
    800: #920892,
    900: #7c077c,
    950: #590559,
  ),
  "purple": (
    50: #f9f2fe,
    100: #f0ddfd,
    200: #e6c8fc,
    300: #d7a6fa,
    400: #c175f8,
    500: #ac46f5,
    600: #9d23f3,
    700: #930ff2,
    800: #790bc8,
    900: #6509a7,
    950: #4a067b,
  ),
  "violet": (
    50: #f6f3fe,
    100: #e8e1fd,
    200: #d9cefc,
    300: #c2b0fb,
    400: #a285f9,
    500: #825bf6,
    600: #6a3cf5,
    700: #5d2af4,
    800: #4f18f3,
    900: #450dee,
    950: #3209ae,
  ),
  "indigo": (
    50: #f4f4fe,
    100: #e3e3fe,
    200: #d2d2fd,
    300: #b6b6fb,
    400: #8f8ff9,
    500: #6868f7,
    600: #4c4cf6,
    700: #3b3bf5,
    800: #2a2af4,
    900: #1f1ff3,
    950: #0e0ef2,
  ),
  "blue": (
    50: #f0f5fe,
    100: #dce7fd,
    200: #c6d8fc,
    300: #a2c0fa,
    400: #719ef8,
    500: #407cf5,
    600: #1c64f3,
    700: #0c55e7,
    800: #0a45bb,
    900: #083b9f,
    950: #062b75,
  ),
  "sky": (
    50: #ecf8fe,
    100: #cfedfc,
    200: #b3e3fb,
    300: #82d1f8,
    400: #3fb8f5,
    500: #0c9be3,
    600: #097ab2,
    700: #086796,
    800: #06547b,
    900: #054768,
    950: #04344c,
  ),
  "cyan": (
    50: #e1fdfd,
    100: #b5fbfb,
    200: #86f9f9,
    300: #3ef5f5,
    400: #0bd8d8,
    500: #09a7a7,
    600: #078484,
    700: #067070,
    800: #055b5b,
    900: #044d4d,
    950: #033838,
  ),
  "teal": (
    50: #e3fef9,
    100: #b9fbf0,
    200: #8df9e7,
    300: #49f5d9,
    400: #0cddba,
    500: #09ac91,
    600: #078873,
    700: #067260,
    800: #055d4e,
    900: #044f43,
    950: #033930,
  ),
  "yellow": (
    50: #fdf5dd,
    100: #fbe7ac,
    200: #f8d877,
    300: #f4c025,
    400: #ce9d0b,
    500: #a07a08,
    600: #7e6007,
    700: #6a5106,
    800: #574205,
    900: #4a3804,
    950: #352803,
  ),
  "amber": (
    50: #fef3e8,
    100: #fce1c6,
    200: #facfa4,
    300: #f7b16b,
    400: #f3871c,
    500: #c3670a,
    600: #9b5208,
    700: #834507,
    800: #6a3806,
    900: #592f05,
    950: #412203,
  ),
  "orange": (
    50: #fef2ec,
    100: #fddfd0,
    200: #fbcbb3,
    300: #f9ab84,
    400: #f57e42,
    500: #e7550c,
    600: #b6430a,
    700: #993808,
    800: #7d2e07,
    900: #6a2706,
    950: #4c1c04,
  ),
  "red": (
    50: #fef1f1,
    100: #fddcdc,
    200: #fcc7c7,
    300: #faa4a4,
    400: #f87373,
    500: #f54242,
    600: #f32020,
    700: #ee0d0d,
    800: #c10a0a,
    900: #a30909,
    950: #790606,
  ),
  "lime": (
    50: #e8fee6,
    100: #c7fcc2,
    200: #a8faa0,
    300: #70f764,
    400: #24f211,
    500: #19bd0a,
    600: #149608,
    700: #117f07,
    800: #0e6705,
    900: #0b5705,
    950: #084003,
  ),
  "green": (
    50: #e5feed,
    100: #c2fcd6,
    200: #9dfabc,
    300: #60f792,
    400: #0df059,
    500: #0aba45,
    600: #089436,
    700: #077c2e,
    800: #056525,
    900: #04551f,
    950: #033e17,
  ),
  "emerald": (
    50: #e5fef5,
    100: #bcfbe6,
    200: #95f9d8,
    300: #51f6bf,
    400: #0ce39b,
    500: #09b078,
    600: #078c60,
    700: #067550,
    800: #055f41,
    900: #045138,
    950: #033b28,
  ),
  "slate": (
    0: #ffffff,
    50: #f9fafb,
    100: #f3f5f7,
    200: #e3e7ec,
    300: #ccd3dd,
    400: #93a2b7,
    500: #627693,
    600: #4d5c73,
    700: #374252,
    800: #222933,
    900: #111419,
    950: #040506,
  ),
  "gray": (
    0: #ffffff,
    50: #fafafb,
    100: #f4f5f6,
    200: #e4e6e9,
    300: #cfd2d8,
    400: #99a1ac,
    500: #6b7582,
    600: #535b66,
    700: #3c4249,
    800: #25282d,
    900: #121416,
    950: #040505,
  ),
  "zinc": (
    0: #ffffff,
    50: #fafafa,
    100: #f5f5f6,
    200: #e6e6e8,
    300: #d2d2d6,
    400: #9f9fa8,
    500: #72727e,
    600: #595962,
    700: #404047,
    800: #28282c,
    900: #141416,
    950: #050505,
  ),
  "neutral": (
    0: #ffffff,
    50: #fafafa,
    100: #f5f5f5,
    200: #e6e6e6,
    300: #d2d2d2,
    400: #a0a0a0,
    500: #737373,
    600: #5a5a5a,
    700: #414141,
    800: #282828,
    900: #141414,
    950: #050505,
  ),
  "stone": (
    0: #ffffff,
    50: #fafafa,
    100: #f6f5f5,
    200: #e7e6e5,
    300: #d4d2d0,
    400: #a49f9b,
    500: #78726d,
    600: #5e5955,
    700: #44403e,
    800: #2a2826,
    900: #151413,
    950: #050505,
  ),
  "ocean": (
    0: #feffff,
    50: #f9fbfb,
    100: #f3f6f6,
    200: #e1e8e9,
    300: #c9d5d7,
    400: #8fa7ac,
    500: #5f7b80,
    600: #4b6065,
    700: #354548,
    800: #212b2d,
    900: #101516,
    950: #040506,
  ),
);

:root {
  @each $name, $palette in $colors {
    @each $step, $color in $palette {
      --mcsl-color-#{$name}-#{$step}: #{$color};
    }
  }
}
