@use "../utils";

$colors: (
  "emerald": (
    50: hsl(152, 81%, 96%),
    100: hsl(149, 80%, 90%),
    200: hsl(152, 76%, 80%),
    300: hsl(156, 72%, 67%),
    400: hsl(158, 64%, 52%),
    500: hsl(160, 84%, 39%),
    600: hsl(161, 94%, 30%),
    700: hsl(163, 94%, 24%),
    800: hsl(163, 88%, 20%),
    900: hsl(164, 86%, 16%),
    950: hsl(166, 91%, 9%),
  ),
  "green": (
    50: hsl(138, 76%, 97%),
    100: hsl(141, 84%, 93%),
    200: hsl(141, 79%, 85%),
    300: hsl(142, 77%, 73%),
    400: hsl(142, 69%, 58%),
    500: hsl(142, 71%, 45%),
    600: hsl(142, 76%, 36%),
    700: hsl(142, 72%, 29%),
    800: hsl(143, 64%, 24%),
    900: hsl(144, 61%, 20%),
    950: hsl(145, 80%, 10%),
  ),
  "lime": (
    50: hsl(78, 92%, 95%),
    100: hsl(80, 89%, 89%),
    200: hsl(81, 88%, 80%),
    300: hsl(82, 85%, 67%),
    400: hsl(83, 78%, 55%),
    500: hsl(84, 81%, 44%),
    600: hsl(85, 85%, 35%),
    700: hsl(86, 78%, 27%),
    800: hsl(86, 69%, 23%),
    900: hsl(88, 61%, 20%),
    950: hsl(89, 80%, 10%),
  ),
  "red": (
    50: hsl(0, 86%, 97%),
    100: hsl(0, 93%, 94%),
    200: hsl(0, 96%, 89%),
    300: hsl(0, 94%, 82%),
    400: hsl(0, 91%, 71%),
    500: hsl(0, 84%, 60%),
    600: hsl(0, 72%, 51%),
    700: hsl(0, 74%, 42%),
    800: hsl(0, 70%, 35%),
    900: hsl(0, 63%, 31%),
    950: hsl(0, 75%, 15%),
  ),
  "orange": (
    50: hsl(33, 100%, 96%),
    100: hsl(34, 100%, 92%),
    200: hsl(32, 98%, 83%),
    300: hsl(31, 97%, 72%),
    400: hsl(27, 96%, 61%),
    500: hsl(25, 95%, 53%),
    600: hsl(21, 90%, 48%),
    700: hsl(17, 88%, 40%),
    800: hsl(15, 79%, 34%),
    900: hsl(15, 75%, 28%),
    950: hsl(13, 81%, 15%),
  ),
  "amber": (
    50: hsl(48, 100%, 96%),
    100: hsl(48, 96%, 89%),
    200: hsl(48, 97%, 77%),
    300: hsl(46, 97%, 65%),
    400: hsl(43, 96%, 56%),
    500: hsl(38, 92%, 50%),
    600: hsl(32, 95%, 44%),
    700: hsl(26, 90%, 37%),
    800: hsl(23, 83%, 31%),
    900: hsl(22, 78%, 26%),
    950: hsl(21, 92%, 14%),
  ),
  "yellow": (
    50: hsl(55, 92%, 95%),
    100: hsl(55, 97%, 88%),
    200: hsl(53, 98%, 77%),
    300: hsl(50, 98%, 64%),
    400: hsl(48, 96%, 53%),
    500: hsl(45, 93%, 47%),
    600: hsl(41, 96%, 40%),
    700: hsl(35, 92%, 33%),
    800: hsl(32, 81%, 29%),
    900: hsl(28, 73%, 26%),
    950: hsl(26, 83%, 14%),
  ),
  "teal": (
    50: hsl(166, 76%, 97%),
    100: hsl(167, 85%, 89%),
    200: hsl(168, 84%, 78%),
    300: hsl(171, 77%, 64%),
    400: hsl(172, 66%, 50%),
    500: hsl(173, 80%, 40%),
    600: hsl(175, 84%, 32%),
    700: hsl(175, 77%, 26%),
    800: hsl(176, 69%, 22%),
    900: hsl(176, 61%, 19%),
    950: hsl(179, 84%, 10%),
  ),
  "cyan": (
    50: hsl(183, 100%, 96%),
    100: hsl(185, 96%, 90%),
    200: hsl(186, 94%, 82%),
    300: hsl(187, 92%, 69%),
    400: hsl(188, 86%, 53%),
    500: hsl(189, 94%, 43%),
    600: hsl(192, 91%, 36%),
    700: hsl(193, 82%, 31%),
    800: hsl(194, 70%, 27%),
    900: hsl(196, 64%, 24%),
    950: hsl(197, 79%, 15%),
  ),
  "sky": (
    50: hsl(204, 100%, 97%),
    100: hsl(204, 94%, 94%),
    200: hsl(201, 94%, 86%),
    300: hsl(199, 95%, 74%),
    400: hsl(198, 93%, 60%),
    500: hsl(199, 89%, 48%),
    600: hsl(200, 98%, 39%),
    700: hsl(201, 96%, 32%),
    800: hsl(201, 90%, 27%),
    900: hsl(202, 80%, 24%),
    950: hsl(204, 80%, 16%),
  ),
  "blue": (
    50: hsl(214, 100%, 97%),
    100: hsl(214, 95%, 93%),
    200: hsl(213, 97%, 87%),
    300: hsl(212, 96%, 78%),
    400: hsl(213, 94%, 68%),
    500: hsl(217, 91%, 60%),
    600: hsl(221, 83%, 53%),
    700: hsl(224, 76%, 48%),
    800: hsl(226, 71%, 40%),
    900: hsl(224, 64%, 33%),
    950: hsl(226, 57%, 21%),
  ),
  "indigo": (
    50: hsl(226, 100%, 97%),
    100: hsl(226, 100%, 94%),
    200: hsl(228, 96%, 89%),
    300: hsl(230, 94%, 82%),
    400: hsl(234, 89%, 74%),
    500: hsl(239, 84%, 67%),
    600: hsl(243, 75%, 59%),
    700: hsl(245, 58%, 51%),
    800: hsl(244, 55%, 41%),
    900: hsl(242, 47%, 34%),
    950: hsl(244, 47%, 20%),
  ),
  "violet": (
    50: hsl(250, 100%, 98%),
    100: hsl(251, 91%, 95%),
    200: hsl(251, 95%, 92%),
    300: hsl(252, 95%, 85%),
    400: hsl(255, 92%, 76%),
    500: hsl(258, 90%, 66%),
    600: hsl(262, 83%, 58%),
    700: hsl(263, 70%, 50%),
    800: hsl(263, 69%, 42%),
    900: hsl(264, 67%, 35%),
    950: hsl(261, 73%, 23%),
  ),
  "purple": (
    50: hsl(270, 100%, 98%),
    100: hsl(269, 100%, 95%),
    200: hsl(269, 100%, 92%),
    300: hsl(269, 97%, 85%),
    400: hsl(270, 95%, 75%),
    500: hsl(271, 91%, 65%),
    600: hsl(271, 81%, 56%),
    700: hsl(272, 72%, 47%),
    800: hsl(273, 67%, 39%),
    900: hsl(274, 66%, 32%),
    950: hsl(274, 87%, 21%),
  ),
  "fuchsia": (
    50: hsl(289, 100%, 98%),
    100: hsl(287, 100%, 95%),
    200: hsl(288, 96%, 91%),
    300: hsl(291, 93%, 83%),
    400: hsl(292, 91%, 73%),
    500: hsl(292, 84%, 61%),
    600: hsl(293, 69%, 49%),
    700: hsl(295, 72%, 40%),
    800: hsl(295, 70%, 33%),
    900: hsl(297, 64%, 28%),
    950: hsl(297, 90%, 16%),
  ),
  "pink": (
    50: hsl(327, 73%, 97%),
    100: hsl(326, 78%, 95%),
    200: hsl(326, 85%, 90%),
    300: hsl(327, 87%, 82%),
    400: hsl(329, 86%, 70%),
    500: hsl(330, 81%, 60%),
    600: hsl(333, 71%, 51%),
    700: hsl(335, 78%, 42%),
    800: hsl(336, 74%, 35%),
    900: hsl(336, 69%, 30%),
    950: hsl(336, 84%, 17%),
  ),
  "rose": (
    50: hsl(356, 100%, 97%),
    100: hsl(356, 100%, 95%),
    200: hsl(353, 96%, 90%),
    300: hsl(353, 96%, 82%),
    400: hsl(351, 95%, 71%),
    500: hsl(350, 89%, 60%),
    600: hsl(347, 77%, 50%),
    700: hsl(345, 83%, 41%),
    800: hsl(343, 80%, 35%),
    900: hsl(342, 75%, 30%),
    950: hsl(343, 88%, 16%),
  ),
  "slate": (
    0: hsl(0, 0%, 100%),
    50: hsl(210, 40%, 98%),
    100: hsl(210, 40%, 96%),
    200: hsl(214, 32%, 91%),
    300: hsl(213, 27%, 84%),
    400: hsl(215, 20%, 65%),
    500: hsl(215, 16%, 47%),
    600: hsl(215, 19%, 35%),
    700: hsl(215, 25%, 27%),
    800: hsl(217, 33%, 17%),
    900: hsl(222, 47%, 11%),
    950: hsl(229, 84%, 5%),
  ),
  "gray": (
    0: hsl(0, 0%, 100%),
    50: hsl(210, 20%, 98%),
    100: hsl(220, 14%, 96%),
    200: hsl(220, 13%, 91%),
    300: hsl(216, 12%, 84%),
    400: hsl(218, 11%, 65%),
    500: hsl(220, 9%, 46%),
    600: hsl(215, 14%, 34%),
    700: hsl(217, 19%, 27%),
    800: hsl(215, 28%, 17%),
    900: hsl(221, 39%, 11%),
    950: hsl(224, 71%, 4%),
  ),
  "zinc": (
    0: hsl(0, 0%, 100%),
    50: hsl(0, 0%, 98%),
    100: hsl(240, 5%, 96%),
    200: hsl(240, 6%, 90%),
    300: hsl(240, 5%, 84%),
    400: hsl(240, 5%, 65%),
    500: hsl(240, 4%, 46%),
    600: hsl(240, 5%, 34%),
    700: hsl(240, 5%, 26%),
    800: hsl(240, 4%, 16%),
    900: hsl(240, 6%, 10%),
    950: hsl(240, 10%, 4%),
  ),
  "neutral": (
    0: hsl(0, 0%, 100%),
    50: hsl(0, 0%, 98%),
    100: hsl(0, 0%, 96%),
    200: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 83%),
    400: hsl(0, 0%, 64%),
    500: hsl(0, 0%, 45%),
    600: hsl(0, 0%, 32%),
    700: hsl(0, 0%, 25%),
    800: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 9%),
    950: hsl(0, 0%, 4%),
  ),
  "stone": (
    0: hsl(0, 0%, 100%),
    50: hsl(60, 9%, 98%),
    100: hsl(60, 5%, 96%),
    200: hsl(20, 6%, 90%),
    300: hsl(24, 6%, 83%),
    400: hsl(24, 5%, 64%),
    500: hsl(25, 5%, 45%),
    600: hsl(33, 5%, 32%),
    700: hsl(30, 6%, 25%),
    800: hsl(12, 6%, 15%),
    900: hsl(24, 10%, 10%),
    950: hsl(20, 14%, 4%),
  ),
  "soho": (
    0: hsl(0, 0%, 100%),
    50: hsl(0, 0%, 96%),
    100: hsl(180, 2%, 91%),
    200: hsl(240, 2%, 83%),
    300: hsl(220, 2%, 74%),
    400: hsl(240, 2%, 65%),
    500: hsl(228, 2%, 57%),
    600: hsl(230, 2%, 48%),
    700: hsl(231, 3%, 39%),
    800: hsl(233, 5%, 31%),
    900: hsl(240, 8%, 22%),
    950: hsl(234, 15%, 13%),
  ),
  "viva": (
    0: hsl(0, 0%, 100%),
    50: hsl(0, 0%, 95%),
    100: hsl(240, 2%, 91%),
    200: hsl(180, 1%, 81%),
    300: hsl(210, 1%, 72%),
    400: hsl(180, 1%, 63%),
    500: hsl(200, 1%, 54%),
    600: hsl(204, 2%, 44%),
    700: hsl(192, 3%, 35%),
    800: hsl(200, 5%, 25%),
    900: hsl(190, 7%, 16%),
    950: hsl(197, 20%, 7%),
  ),
  "ocean": (
    0: hsl(0, 0%, 100%),
    50: hsl(180, 14%, 99%),
    100: hsl(150, 14%, 97%),
    200: hsl(165, 14%, 95%),
    300: hsl(165, 6%, 86%),
    400: hsl(170, 4%, 71%),
    500: hsl(180, 2%, 52%),
    600: hsl(186, 10%, 41%),
    700: hsl(191, 20%, 32%),
    800: hsl(196, 31%, 23%),
    900: hsl(201, 45%, 17%),
    950: hsl(201, 45%, 9%),
  ),
);

:root {
  @each $name, $palette in $colors {
    @each $step, $color in $palette {
      --mcsl-color-#{$name}-#{$step}: #{$color};
    }
  }
}
