name: Auto Build Web Artifacts
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            targetName: linux-x86_64-gnu

          - platform: ubuntu-latest
            target: x86_64-unknown-linux-musl
            targetName: linux-x86_64-musl

          - platform: macos-latest
            target: x86_64-apple-darwin
            targetName: macOS-x86_64

          - platform: macos-latest
            target: aarch64-apple-darwin
            targetName: macOS-aarch64

          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            targetName: windows-x86_64

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install PNPM
        run: npm i -g pnpm

      - name: Install NPM dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Build website
        run: |
          cd apps/web
          pnpm frontend:build

      - name: Build backend
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MCSL-Future-Web-${{ matrix.targetName }}
          path: target/${{ matrix.target }}/release/mcsl_future_web${{ matrix.os == 'windows-latest' && '.exe' || '' }}
