name: Auto Build Web Artifacts
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            targetName: linux-x86_64-gnu

          - platform: ubuntu-latest
            target: x86_64-unknown-linux-musl
            targetName: linux-x86_64-musl

          - platform: macos-latest
            target: x86_64-apple-darwin
            targetName: macOS-x86_64

          - platform: macos-latest
            target: aarch64-apple-darwin
            targetName: macOS-aarch64

          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            targetName: windows-x86_64

    runs-on: ${{ matrix.platform }}
    name: build (${{ matrix.platform }}, ${{ matrix.target }})

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\pnpm-store' || '~/.pnpm-store' }}
          key: ${{ matrix.platform }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ matrix.platform }}-pnpm-

      - name: Cache Cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\bin' || '~/.cargo/bin/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\registry\\index' || '~/.cargo/registry/index/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\registry\\cache' || '~/.cargo/registry/cache/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\git\\db' || '~/.cargo/git/db/' }}
            target
          key: ${{ matrix.platform }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.platform }}-cargo-

      - name: Install NPM dependencies
        run: pnpm install --frozen-lockfile

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev libgtk-3-0 libgdk-pixbuf2.0-dev pkg-config

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Build website
        run: |
          cd apps/web
          pnpm frontend:build

      - name: Build backend
        run: cargo build --release --target ${{ matrix.target }}

      - name: Strip Binary (macos & ubuntu only)
        if: matrix.platform == 'macos-latest' || matrix.platform == 'ubuntu-latest'
        run: strip target/${{ matrix.target }}/release/mcsl_future_web

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: MCSL-Future-Web-${{ matrix.targetName }}
          path: target/${{ matrix.target }}/release/mcsl_future_web${{ matrix.platform == 'windows-latest' && '.exe' || '' }}
