name: Auto Build Web Artifacts
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-web.yml
      - 'apps/web/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install PNPM
        run: npm i -g pnpm

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build website
        run: |
          cd apps/web
          pnpm frontend:build

      - name: Install Rust
        run: rustup target add ${{ matrix.target }}

      - name: Install dependencies (ubuntu only)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev

      - name: Build backend
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mcsl-web-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/mcsl_future_web${{ matrix.os == 'windows-latest' && '.exe' || '' }}
