name: Auto Build App Artifacts
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-app.yml
      - 'apps/app/**'
      - 'packages/shared/**'
      - 'packages/ui/**'
      - 'packages/configs/**'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-app.yml
      - 'apps/app/**'
      - 'packages/ui/**'
      - 'packages/shared/**'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ macos-latest, windows-latest, ubuntu-latest ]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\pnpm-store' || '~/.pnpm-store' }}
          key: ${{ matrix.platform }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ matrix.platform }}-pnpm-

      - name: Cache Cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\bin' || '~/.cargo/bin/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\registry\\index' || '~/.cargo/registry/index/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\registry\\cache' || '~/.cargo/registry/cache/' }}
            ${{ matrix.platform == 'windows-latest' && '~\\AppData\\Local\\Cargo\\git\\db' || '~/.cargo/git/db/' }}
            target
          key: ${{ matrix.platform }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.platform }}-cargo-

      - name: Install NPM dependencies
        run: pnpm install --frozen-lockfile

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Build app
        run: pnpm app:build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: MCSL-Future-Tauri-${{ matrix.platform }}
          path: |
            target/*/release/bundle/*/*.dmg
            target/*/release/bundle/*/*.app.tar.gz
            target/*/release/bundle/*/*.app.tar.gz.sig
            target/release/bundle/*/*.dmg
            target/release/bundle/*/*.app.tar.gz
            target/release/bundle/*/*.app.tar.gz.sig
            
            target/release/bundle/*/*.AppImage
            target/release/bundle/*/*.AppImage.tar.gz
            target/release/bundle/*/*.AppImage.tar.gz.sig
            target/release/bundle/*/*.deb
            target/release/bundle/*/*.rpm
            
            target/release/bundle/msi/*.msi
            target/release/bundle/msi/*.msi.zip
            target/release/bundle/msi/*.msi.zip.sig
            
            target/release/bundle/nsis/*.exe
            target/release/bundle/nsis/*.nsis.zip
            target/release/bundle/nsis/*.nsis.zip.sig
              
